body {
     font-family: 'Times New Roman', Times, serif, 'Times New Roman', Times, serif;
     background-color: #f0f0f0;
     color: #333;
     text-align: center;
     padding: 20px;
     }
    
     header {

    
    

        background-color: #da2c15;
     color: white;
     padding: 10px;
     }
    
     button {
     padding: 10px 20px;
     margin-top: 20px;
     background-color: #ca2b2b;
     color: white;
     border: none;
     cursor: pointer;
     }
    
     button:hover {
     background-color: #45a049;
     }